.bgstyle{
    background: linear-gradient(0deg, #001174b0, #523fff49);
    background-attachment: fixed;
}
h1{ 
    font-size: 40px;
    font-family: monospace;
    color: #480b4d;
}
.introduction_style{
    font-family: cursive;
    font-size: 18px;
    text-align: center;
}